@import url(./global/general.css);


main .tituloGeneral{
    /*BORDES*/
    border: 2px solid black;
    border-inline: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.342);

    /*TAMAÑOS*/
    width: 50%;
    margin-bottom: 50px;

    /*FONDO*/
    background-color: #dadada40; /*40% opacidad*/

}

main  h2{
    margin: 10px;

    /*TEXTO*/
    color: rgb(22, 22, 22);

    text-align: center;
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: bold;
    font-family: RockwellCondensed;   
}

main p{
    font-family: 'SourceCode-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main a{
    color: #ff0000;
}

main img{
    /*TAMAÑO Y BORDE*/
    width: 400px;
    height: 300px;
    border-radius: 15px;
    /*EFECTO*/
    box-shadow: 0 10px 10px #3838385b;
    /*Margenes*/
    margin-bottom: 10px;
}

/*TABLA FECHAS*/
.fechas{
    /*TAMAÑO*/
    width: 40%;
    height: auto;
    border-radius: 10px;

    margin-block: 60px;

    /*FONDO*/
    background-color: var(--beige-claro);
}

.fechas thead{
    font-size: 1.6rem;
    font-family: 'RockwellCondensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    padding: 10px;
}

.fechas thead th{
    padding: 20px;
}

.fechas tbody th{
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.fechas tbody th:hover{
    transform: scale(1.14);
}

.fechas tbody{
    font-size: 1.3rem;
    font-family: 'SourceCode-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/*ESTILOS NOTICIAS*/
.noticiasContainer{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap:15px;
    width: 60%;
}

.noticia{
    margin-block: 40px;
}

.noticiaArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloNoticia{
    margin: 10px;
    font-family: 'RockwellCondensed';
    font-size: 1.6rem;
    font-weight: 50;
    letter-spacing: 2px;

    text-align: center;
}

.noticiaImage{
    width: 400px;
    height: 300px;
}

.noticiaBody{
    margin: 20px;
}
/*MEDIA QUERYS 764-MOBILE*/
@media (max-width: 764px) {
    /*ESTILOS NOTICIAS*/
    .noticiasContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 60%;
    }

}


