@import url(./global/general.css);
/*TITULOS DE TIPS Y NOTICIAS*/
main .titulo{
    /*BORDES*/
    border: 2px solid black;
    border-inline: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.342);

    /*TAMAÑOS*/
    width: 50%; 
    margin-bottom: 50px;

    /*FONDO*/
    background-color: #dadada40; /*40% opacidad*/

}

main .titulo h2{
    margin: 10px;

    /*TEXTO*/
    color: rgb(22, 22, 22);

    text-align: center;
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: bold;
    font-family: RockwellCondensed;   
}

/*CUERPO DE TIPS Y NOTICIAS*/

main section{
    /*TAMAÑOS*/
    width: 30%;
    margin-top: 25px; margin-bottom: 50px;
}

main section h3{
    /*TEXTO*/
    text-indent: -5%;
    font-size: 25px;
    font-family: 'SourceCode-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;

    /*MARGENES Y TAMAÑOS*/
    margin: 7px;
}
main section h3::after{
    content: '';
    display: inline-block;
    width: 7px;
    height: 3px;
    border-radius: 10px;
    transform: translateX(5px) translateY(-50%);
    background-color: #000;

}
main section h3::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 3px;
    border-radius: 10px;
    transform: translateX(-5px) translateY(-50%);
    background-color: #000;

}

main section p{
    /*TEXTO*/
    text-align: justify;
    font-family: 'SourceCode-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/*LEER MAS --TIPS*/

#masconsejos{
    display: flex;
    justify-content: center;
}
main a{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'SourceCode-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff0000;
    transition: all 0.5s ease;
}

main a:hover{
    transform: scale(1.1);
}



/*NOTICIAS*/
.noticias section{
    display: flex;
    gap: 50px
}
.noticias img{
    filter: drop-shadow(0 0 10px #000000);

    width: 300px;
    height: 300px;
}
.noticias p{
    text-align: justify;
}

#content {
    /* Aquí puedes agregar los estilos para el contenido de tu página */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.close-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #ff0000;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.close-btn:hover {
    transition: 0.5s ease-in-out;
    background: #ff0000;
    transform: scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.blur {
    filter: blur(10px);
}

/*MEDIA QUERYS 1024PX -TABLES*/
@media (max-width: 1024px) {
    main section{
        /*TAMAÑOS*/
        width: 50%;
    }
    main .titulo{
        /*TAMAÑOS*/
        width: 70%;  
    }

    .noticias section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .noticias img{
        width: 200px;
        height: 200px;
    }
}
/*MEDIA QUERYS 624-MOBILE*/
@media (max-width: 624px) {
    main section{
        /*TAMAÑOS*/
        width: 60%;
    }

    .noticias section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .noticias img{
        width: 150px;
        height: 150px;
    }

}