@import url(general.css);

/*ESTILOS EXCLUSIVOS PARA HEADER*/
header{
    /*ORDEN*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    /*MARGENES*/
    margin-top: 10px;
    margin-bottom: 10px;

    /*TAMAÑO Y BORDES*/
    border: 4px solid rgb(0, 0, 0);
    border-inline: none;
    box-shadow: 0 0 10px;
    width: 100vw;

    /*FUENTE*/
    font-family: "RockwellCondensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header h4{ /*FECHA*/
    color: black;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}
header img{
    /*TAMAÑO*/ 
    width: 200px;
    height: 100px;

    /*FILTROS*/
    filter: drop-shadow(1px 5px 4px);

    /*TRANSICIONES*/
    transition: all 0.2s ease-in;
}
header img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 7px 4px rgb(70, 0, 0));
}


header nav{/*Links*/
    display: flex;
    justify-content: flex-end;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
